/* This class has the same name as a class used in another component.
But you'll see they will have different names in the css export, thanks to the use of css modules */

.howILook {
    color:lightcoral;
    border: 1px solid rgb(47, 107, 79);
    background: none;
    width: 18%;
    margin: 10px;
    font-size: 26px;
    padding: 20px;
}